@tailwind base;
@tailwind components;
@tailwind utilities;


.exampleElement {
    display: block;
    height: auto;
    position: absolute;
    left: calc(50% - 50px);
    transform-origin: center 400px;
}

.exampleElement1 {
    left: calc(57% - 30px);
}
@media (max-width: 640px) {
    .exampleElement {
            
            transform-origin: center 240px;
        }
    
}

